#publishers img {margin-bottom: 40px;

		}
#publishers a {margin: 10px 10px 10px 10px;}

#publishers a img {margin: 20px 20px 20px 20px;
	      border: 20px 20px 20px 20px;
	      }

#publishers a :active {background-color: #2b8cbe;}

#topic {position: absolute;
	  font-size: 18px;
	  left: 600px;
	 top: 200px}

#connector {position: absolute;
	    left:20px;
	    top:45px;}


#messages svg {position: absolute;
	       left: 20px;
	       top: 45px;
	  
	      }